cairocffi
CairoSVG
cffi
confusable-homoglyphs
cssselect2
defusedxml
Django
django-crispy-forms
django-crispy-forms-registration
django-easy-pdf
django-jenkins
django-registration
django-xhtml2pdf
html5lib
Pillow
pycparser
PyPDF2
Pyphen
pytz
reportlab
six
tinycss2
WeasyPrint
webencodings
xhtml2pdf
