{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>help</h1>
    <p>Title-name of the project</p>
    <p>Customer-write the customer of the project</p>
    <p>Pro-write all the pepole that help with the project</p>
    <p>Goals-write the goals and the achivments you need for the project</p>
    <p>Problems-write all the future problems you think the project will tackle</p>
    <p>Connection-write a summery for the goals of the project</p>
    <p>Yearly work plan-write a schedule for a year of what you are going to do while working on the project</p>
    <p>Cost and prodactivity-write your total assumption of the cost of the project and write down your competition</p>



{% endblock %}