<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>project</h1>
    <h2>{{ post.title }}</h2>
    <p>{{ post.deadline|linebreaksbr }}</p>
    <p>{{ post.customer|linebreaksbr }}</p>
    <p>{{ post.pro|linebreaksbr }}</p>
    <p>{{ post.goals|linebreaksbr }}</p>
    <p>{{ post.problems|linebreaksbr }}</p>
    <p>{{ post.connection|linebreaksbr }}</p>
    <p>{{ post.yearly_work_plan|linebreaksbr }}</p>
    <p>{{ post.cost_and_prodactivity|linebreaksbr }}</p>
    <table>
        <tr>
            <th>ID</th><th>Title</th>
        </tr>
        {% for p in post %}
            <tr>
                <td>{{ post.deadline }}</td><td>{{ post.title }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>