{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>QA</h1>
<br>
<p>
    <b>1.How to create a project?</b>
    <br>
    Go to the home page and in the right side click on create a project and then follow the instructions.
    <br>
    <br>
    <b>2.How much creating a project costs?</b>
    <br>
    Creating a project is free.
    <br>
    <br>
    <b>3.How to edit a project?</b>
    <br>
    To edit a project go to the home page enter your project and on bottom click on edit.
    <br>
    <br>
    <b>4.How to save a project?</b>
    <br>
    After filling in the details of the project go to the bottom of the page and press save.
    <br>
    <br>
    <b>5.How to download a project?</b>
    <br>
    Go to the home page and enter your project then press on pdf.
    <br>
    <br>
    <b>6.How to delete a project?</b>
    <br>
    Go to the home page and click on delete for the needed project.
    <br>
    <br>
    <b>7.How to change a profile picture?</b>
    <br>
    Go to the profile page and paste your picture url to the picture field and press update.
</p>
{% endblock %}