{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>tips</h1>
<p>
    <br>
    1. Identify Your Audience

    Know your audience and direct your writing towards them. Consider whether your document’s tone is appropriate for your audience. An adequate knowledge of business writing will be useful for this purpose. It will also be an advantage if you have some background information about your audience.
    <br>
    <br>
    2. Identify the Document’s Purpose and Keep it Focused

    Make sure that your business document clearly expresses its objective to the reader, and that your reader sees it at the beginning of the document. After your audience has read the document, what response would you like from them?
    <br>
    <br>
    3. Organize Your Writing

    Put yourself in the reader’s shoes and ask yourself these questions: What is this document about? Why do I want to read it? What should I do after I read it? You should also check whether your business document is written in a cohesive manner and whether the flow is interesting, clear, and informative. If you are not confident of your writing skills, you may use business writing software to come up with an excellently written business document.
    <br>
    <br>
    4. Re-Read Your Business Document Before Sending

    This step will help you pick out grammatical or typographical errors. It will also help you to see parts of the document that may need to be expanded or even curtailed. The practice of re-reading will help you to improve your business writing skills.
    <br>
    <br>
    5. Make Sure Your Business Document Appears Professional

    No matter how good the content of your document may be, this will be easily overlooked if it is not professional looking. Remember that before your audience reads your document, they will first see how it is laid out on paper. First impressions are indeed important.
</p>
{% endblock %}